
.team-banner {
  
    background-color: #0072a7;
    background-image: linear-gradient(to bottom, #006fa2, #005680); 
    
  
    color: white;
    text-align: center;
    
    
    padding: 100px 20px; 
    
  
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.team-banner h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem; 
    font-weight: 700;
    margin: 0 0 20px 0; 
    line-height: 1.2;
    
}



.team-banner p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    max-width: 700px; 
    margin: 0;
    line-height: 1.6;
    opacity: 0.9; 
}


@media (max-width: 600px) {
    .team-banner {
        padding: 60px 20px; 
    }
    
    .team-banner h1 {
        font-size: 1.8rem; 
    }
    
    .team-banner p {
        font-size: 1rem;
    }
}